.navbar{
    /* background-color: rgb(189, 193, 198); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem; */
    padding: 32px 47px 32px 60px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-name{
  display: flex;
  flex-direction: row;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
}

.logo-title{
  cursor: pointer;
  color:var(--violet);
  font-family: 'GothamRoundedBold';
  font-weight: 700;
  /* font-size: 28px; */
  font-size: 40px;
  margin-left: 0.5rem;
}

.welcome-info{
  display: flex;
  flex-direction: column;
}

.welcome-info h4{
  color:whitesmoke;
  margin: 0 0.7rem;
}

.menu-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    color:whitesmoke;
}

.menu-list li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list li:hover{
    color: whitesmoke;
    font-weight: 500;
    cursor: pointer;
}

.icon-close{
    display: none;
}

.icon-bars{
    display: none;
}

li a {
  text-decoration: none;
  color: var(--black);
  font-family: 'Montserrat-VariableFont_wght';
  font-size: 1.2rem;
}

hr {
  background-color: var(--violet); /* Removes the background color */
  border: none; /* Removes the default border */
  height: 4px; /* Adjust the height as needed */
  border-radius: 5px;
}


li a:hover{
  color:rgb(143, 43, 106);
}

.info-button{
  background-color: #831742;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.info-button a{
  color: white;
  text-decoration: none;
}


.sidebar-list .info-button{
  margin: 0 0.5rem;
}

@media screen and (max-width: 1930px){
  .navbar{
    background-color: transparent;
  }
}

@media screen and (max-width: 768px){
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 193,198);
    padding: 10px;
  }
  
  .sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    left: -300px;
    width: 100%;
    background-color: rgba(172, 173, 175);
    color: #3a3838;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar.open {
    left: 0;
  }

  .sidebar.desktop-version-menu{
    display: none;
  }
  

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-list li{
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  .sidebar-list li:hover{
    color: white;
    cursor: pointer;
  }
  

  .icon-close{
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .icon-close:hover{
    cursor: pointer;
  }

  .icon-bars{
    display: flex;
    cursor: pointer;
  }
}


.navbar.scrolled {
  background-color: rgba(189, 193, 198, 0.9); /* Cambia el color de fondo y la opacidad según tus necesidades */
  transition: background-color 0.5s ease-in-out;
}

body.scrolled .content {
  margin-top: 80px; /* Ajusta según la altura de tu navbar cuando está fijo */
}