.ctn-register{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* max-height: calc(100vh - 117.8px); */
    min-height: 961px;
    background-color:#E5E8EB;
    height: 1600px;
}

h1.login-title{
    margin-bottom: 60px;  
}

.input-field-5 {
    background-color: white;
    border: 1px solid;
    border-color: #d7d7d7;
    border-radius: 20px;
    align-self: stretch;
    align-items: center;
    gap: 12px;
    width: 425px;
    height: 60px;
    padding: 8px 20px;
    display: flex;
    position: relative;
}

.register-title{
    font-size: 1.5rem;
    color: rgb(80, 78, 78);
}

h2{
    text-align: start;
    color: rgb(80, 78, 78);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.ctn-register p{
    text-align: center;
}

.form-register-ctn{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

.user, .pets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.petssector{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* gap: 65px; */
}

.label {
    height: 35px;
    width: 466px;
}

.label .text-wrapper {
    color: #2d2d2d;
    font-family: "Poppins", Helvetica;
    font-size: 27px;
    font-weight: 700;
    left: 0;
    letter-spacing: -0.54px;
    line-height: 35.1px;
    text-align: center;
    top: 0;
    /* width: 466px; */
    margin-top: 65px;
    padding-bottom: 65px;
}

.ingresar{
    margin-top: 65px;
}

.form-register{
    margin-top: 700px;
    width: 571px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.inputs-fullname{
    display: flex;
    flex-direction: column;
}

.section-form{
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    
}

.ctn-pet{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.section-form-pets{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 160px;
    justify-content: space-evenly;
}

article{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.register-lastname, .register-email, .register-passcode, .register-address, .register-phone{
    width: 45%;
    height: 12%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.register-name{
    /* width: 45%; */
    height: 12%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.register-pet-section{
    width: 100%;
    height: 12%;
}

.input-register-name, .input-register-lastname, .input-register-email, .input-register-passcode, .input-register-phone, .input-register-address{
    width: 100%;
    border-radius: 6px;
    border: none;
    padding: 0.8rem;
}

.input-pet, select{
    border-radius: 6px;
    border: none;
    padding: 0.8rem;
    width: 100%;
}

/* input, select{
    background-color: #E9FAFC;
} */

.register-button, .pets-button{
    padding: 1rem;
    background-color:rgba(131, 23, 66, 1);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 150px;
}

.pets-button{
    margin-top: 60px;
}

.error-message-div{
    margin-bottom: 2rem;
    background-color: white;
    color: red;
    font-weight: 600;
    border-radius: 5px;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.error-message-div p{
    width: 75%;
}

.error-icon{
    font-size: 1.6rem;
}

.petsArray{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.delete-pet{
    color: rgb(90, 155, 149, 0.6);
    font-size: 1.2rem;
    cursor: pointer;
}

.added-pet{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    width: 110px;
    font-size: 0.8rem;
    background-color: rgba(115, 139, 139, 0.2);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.ctn-error-pets{
    margin: 3rem 0 0 0;
    color: red;
    font-weight: 600;
}

.text-error-pet{
    color: red;
    font-weight: 600;
}

.errorAge{
    border: 1px solid red;
}

.error-message-age{
    color: red;
    font-weight: 400;
    font-size: 0.6rem;
}


.input-field-6 {
    background-color: white;
    border: 1px solid;
    border-color: #d7d7d7;
    border-radius: 20px;
    align-self: stretch;
    align-items: center;
    gap: 12px;
    width: 180px;
    height: 60px;
    padding: 8px 20px;
    display: flex;
    position: relative;
    margin-top: 60px;
}

.input-field-67 {
    background-color: white;
    border: 1px solid;
    border-color: #d7d7d7;
    border-radius: 20px;
    align-self: stretch;
    align-items: center;
    gap: 12px;
    width: 180px;
    height: 60px;
    padding: 8px 20px;
    display: flex;
    position: relative;
    margin-top: 60px;  
}

.primerfila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-bottom{
    margin-top: 60px;
}

.inicia{
    margin-top: 60px;
    color:rgba(131, 23, 66, 1);
}

/* Tablets y dispositivos de tamaño mediano */
@media screen and (max-width: 1024px){
    /* Estilos específicos para esta resolución */
    .register-title{
        width: 80%;
        text-align: center;
    }
    .error-message-div{
        width: 55%;
    }
    .error-message-div p{
        width: 75%;
    }
    .ctn-register {
        padding: 20px;
    }
    .input-field-5, .input-field-6, .input-field-67 {
        width: 90%;
    }
}

/* Dispositivos más pequeños como smartphones */
@media screen and (max-width: 810px){
    .ctn-register{
        padding: 15px;
        min-height: 1100px;
    }
    .form-register{
        width: 90%;
        padding: 30px;
    }
    article {
        flex-direction: column;
    }

    .register-description-title{
        width: 85%;
    }

    .box-user-pets{
        flex-direction: column;
    }

    .user, .pets{
        width: 95%;
        height: 45%;
    }

    .form-register{
        width: 100%;
    }

    .register-button{
        margin-top: 2.5rem;
    }
}


@media screen and (max-width: 700px){
    .error-message-div{
        width: 60%;
    }

    .error-message-div p{
        /* width: 75%; */
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 768px){
    input{
        max-width: 280px;
        min-width: 150px;
    }
    
    .register-title{
        font-size: 1.2rem;
        width: 90%;
        text-align: center;
    }
    .error-message-div{
        width: 80%;
    }
    .error-message-div p{
        font-size: 0.8rem;
        width: 70%;
    }
    .input-field-5, .input-field-6{
        width: fit-content;
    }

    .input-field-67 {
        /* width: inherit; */
        margin-top: 60px;
    }

    .form-register {
        margin-top: 800px;}
        
    .register-name{
        width: 85%;
    }

    .ctn-register {
        height: 1750px;
    }

    .label .text-wrapper {
        
        font-size: 16px;
        
        left: 0;
        letter-spacing: -0.54px;
        line-height: 35.1px;
        text-align: center;
        top: 0;
        
        margin-top: 65px;
        padding-bottom: 65px;
        text-wrap: wrap;
        max-width: 310px;
    }

    .label{
        width: inherit;
    }

    .primerfila {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        width: 300px;
    }

    .register-pet-section {
        width: inherit; 
        height: 12%;
    }

    .petssector{
        width: 310px;
    }
}

/* ... (tu código anterior) ... */

/* Media Queries para mejorar la responsividad */



