.ctn-header{
    background-color: var(--grey);
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
}

.header-text{
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 860px;
    justify-content: space-evenly;
    position: relative;
    right: -150px;
}

.job-title{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--violet);
}

.job-title span{
    font-weight: 700;
    font-family: 'GothamRoundedBold';
    font-size: 18px;
}

hr{
    width: 50px;
    height: 5px;
    background-color: var(--violet);
}

.header-text h1{
    font-size: 4rem;
    width: 100%;
    color: var(--white);
    font-family: 'GothamRoundedBold';
    font-weight: 700;
}

.header-text h3{
    width: 70%;
    color: var(--white);
    font-weight: 400;
    font-family: 'GothamRoundedBook';
}

.header-photos{
    width: 50%;
    height: 100%;
    position: relative;
}

.logout-button a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    font-family: 'Montserrat-VariableFont_wght';
    font-weight: 600;
    font-style: normal;
  }

.portrait{
    object-fit: contain;
    object-position: right;
    height:120%;
    position: absolute;
    top: -46px;
    right: 200px;
    
}

.ctn-icons{
    position: absolute;
    width: 15%;
    height: 100%;
    display: flex;
}


.header-button, .logout-button {
    width: 170px;
    padding: 1rem;
    border-radius: 11px;
    border: none;
    background-color: #831742;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Montserrat-VariableFont_wght', Helvetica;
    transition: all 0.2s ease;
    letter-spacing: 0.1px;
}

.header-button:hover, .logout-button:hover{
    transform: scale(0.9); 
}


@media screen and (max-width: 1849px){
    .portrait{
        right: 40px;
    }

    .header-text{
        position: static;
        width: 800px;
    }
}



@media screen and (max-width: 1386.98px){
    .header-text h1{
        font-size: 3.5rem;
    }

    .portrait{
        height: 469px;
        position: unset;
    }

    .header-text{
        right: -60px;
    }
}


@media screen and (max-width: 1170px){
    .ctn-header{
        flex-direction: column;
        height: 820px;
    }

    .header-text{
        width: 100%;
        align-items: center;
        height: 70%;
        position: static;
    }

    hr{
        display: none;
    }

    .header-text h1{
        text-align: center;
        font-size: 4rem;
    }

    .header-text h3{
        font-size: 1rem;
        width: 95%;
        text-align: center;
        font-size: 0.8rem;
    }

    .header-photos{
        width: 100%;
        height: 70%;
    }

    .header-text h1{
        font-size: 2rem; 
    }

    .portrait{
        width: 90%;
        object-fit: contain;
        object-position: center;
        position: static;
    }
}

@media screen and (min-width: 792px) and (max-width: 1170.98px){
    .portrait{
        height: 550px;
    }
}

@media screen and (max-width: 791px){
    .portrait{
        height: 390px;
    }

    .header-button, .logout-button a{
        font-size: 0.9rem;
    }

    .logout-button{
        font-size: 0.9rem;
    }

    .header-text{
        height: 350px;
    }

    .header-photos{
        height: 280px;
        width: 100%;
    }

    a{
        font-size: 0.9rem;
    }
    
}

@media screen and (min-width: 421px) and (max-width: 530px){
    .header-text{
        height: 380px;
    }
}

@media screen and (max-width: 420px){
    .ctn-header{
        height: 700px;
        padding: 0.7rem;
    }

    hr{
        display: none;
    }


    .header-text h1{
        font-size: 1.6rem;
        text-align: center;
    }

    .header-text h3{
        width: 90%;
        font-size: 0.9rem;
        text-align: center;
    }

    .header-photos{
        height: 300px;
        width: 100%;
    }

    .portrait{
        width: 100%;
        object-fit: contain;
        object-position: right;
        position: absolute;
        top: 6px;
        right: 0%;
    }

    .header-button{
        width: 50%;
    }
}

@media screen and  (max-width: 300px){
    .ctn-header{
        padding: 0.8rem;
    }
    .header-text{
        height: 350px;
    }
    .header-photos{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .header-button{
        width: 60%;
    }
}