.ctn-information{
    background-color: #e5e8eb;
    padding: 3rem;
    display: flex;
    justify-content: center;
    height: 550px;
    gap: 4rem;
}

.info-vet-image{
    background-position: center;
}

.info-description{
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-evenly;
}

.text-parrafo{
    text-align: start;
    color: var(--black);
    font-size: 2.5rem;
}

.text-parrafo div{
    font-family: 'GothamRoundedBold';
}

.text-parrafo-p{
    text-align: start;
}


.info-button:hover{
    opacity: 0.8;
}


@media screen and (max-width: 1200px){
    .text-parrafo p{
        width: 100%
    }

    .info-description{
        width: 30%;
    }

    .info-description h2{
        font-size: 1rem;
    }
}


@media screen and (max-width: 877px){
    .ctn-information{
        flex-direction: column;
        height: 1100px;
        padding: 2rem;
        align-items: center;
    }

    .info-vet-image{
        width: 100%;
        margin-top: 3.5rem;
    }

    .info-description{
        width: 90%;
        height: 400px;
    }

    .info-description h2{
        width: 80%;
        font-size: 1.5rem;
        text-align: center;
    }

    .text-parrafo div{
        font-size: 1.5rem;
        text-align: center;
    }

    .text-parrafo-p{
        text-align: center;
    }
}


@media screen and (max-width: 420px){
    .ctn-information{
        /* height: 70vh; */
        height: 700px;
    }
    
    .info-description{
        width: 100%;
        height: 310px;
    }

    .text-parrafo-p{
        font-size: 0.8rem;
    }
   
}

